.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    border-radius: 10rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($black-color, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:hover {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($black-color, 0.2);
  }

  &--white {
    background-color: $white-color;
    color: $gray-color;

    &::after {
      background-color: $white-color;
    }
  }

  &--green {
    background-color: $primary-color;
    color: $white-color;

    &::after {
      background-color: $primary-color;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 10rem;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s; /* animation-name, animation-duration, animation-timing-function, animation-delay */
    animation-fill-mode: backwards; /* aplica os estilos da animação a 0 antes dela começar */
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    text-decoration: none;
    display: inline-block;
    color: $primary-color;
    padding: 3px;
    border-bottom: 1px solid $primary-color;
    transition: all 0.2s;
    border-radius: 2px;
  }

  &:hover {
    background-color: $primary-color;
    color: $white-color;
    box-shadow: 0 3px 5px rgba($black-color, 0.15);
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 1px 3px rgba($black-color, 0.15);
    transform: translateY(0);
  }
}
