.btn {
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 4rem;
        text-transform: uppercase;
        border-radius: 10rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($black-color, 0.2); 

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($black-color, 0.2); 
    }
    
    &--white {
        background-color: $white-color;
        color: $gray-color;

        &::after {
            background-color: $white-color;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        border-radius: 10rem;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s; /* animation-name, animation-duration, animation-timing-function, animation-delay */
        animation-fill-mode: backwards; /* aplica os estilos da animação a 0 antes dela começar */
    }
}